body {
	width: 400px;
}

.messageScreen {
	padding: .5rem;
	visibility: hidden;
	display: flex;
	position: absolute;
	background: white;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.messageScreen.messageScreen-show {
	visibility: visible;
}

span.messageScreen-message {
	max-width: 350px;
	text-align: center;
	font-size: .875rem;
}

#deviceSelectScreen {
	position: static;
	flex-direction: row;
	visibility: visible;
}

#deviceSelect {
	flex: 1 1 0;
	margin-right: .5rem;
}

#goBtn {
	margin-top: .5rem;
	width: 100%;
}

#selectAnotherDevice {
	margin-top: .5rem;
}